page-login {
  .forget-password{
    margin-right: 35pt;
  }
  .login-btn{
    background: #178D42;
  }
  .login-div{
    margin: 40pt 30pt;
  }
  .register-text{
    font-weight: bold; color: #178D42;
  }
}
