page-home {
.header-function{
  color: #999;
  font-size: 1.4rem;
  margin-left: 10pt;
  margin-top: 20pt;
}
  .select-data{
    margin: 10pt;
    box-shadow: 1px 1px 16px #e0e0e0;
    padding: 7pt;
  }
  .dot{
    height: 8pt;width: 8pt;
    border: 1px solid #178D42;
    border-radius: 50%;
  }
  .direction{
    position: absolute;
    right: 35pt;
    z-index: 9999;
    margin-top: -18pt;
    width: 40px;
    background: white;
  }
  .half-saparator{
    background: #e0e0e0;width: 82%;height: 1px;margin-left: 10pt;margin-top: 5pt;margin-bottom: 5pt;
  }
  .item-ios .toggle-ios{
    padding: 0;
  }
  .toggle-ios{
    height: 20px!important;
    .toggle-inner{
      height: 15px!important;
    }
  }
  .search-btn-div{
    margin: 25pt;
  }
  ion-slides{
    height: auto;
  }
}
