page-help {
    .top_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 22%;
    }

    .para_text {
        font-size: 12px;
        padding-top: 5px;
        color: #808080cc;
    }
}
