page-settings {

    .small-subheading-size{
      font-size: 1.4rem;
      padding-left: 5pt;
    }
    .heading{
      font-size: 1.6rem;
      margin-top: 15pt;
    }
    .main_div {
      margin-top: 20px;
  }
  }
  