page-contact-form {
    .save-div {
        margin: 40pt 30pt;
    }

    .save-btn {
        background: #178D42;
    }

    .top_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 22%;
    }

    .change_profile {
        font-size: 30px;
        font-weight: 400;
    }
}
