page-signup {
  .signup-btn{
    background: #178D42;
  }
  .signup-div{
    margin: 40pt 30pt;
  }
  .login-text{
    font-weight: bold; color: #178D42;
  }
  .back-arrow{
    padding: 12pt 15pt 5pt 15pt;
    font-size: 3rem;
    position: absolute;
    left: 10pt;
  }
}
