page-menu {

  .menu-list{
    ion-item{
      background: #178D42 !important;
    }
  }

  .big-size{
    font-size: 2.5rem;
  }
  .user-img{
    width: 44pt !important;
    height: 44pt !important;
  }
  .edit-profile-btn{
    border: 1px solid white;
    padding: 5pt 13pt !important;
  }
  .left-option-icon{
    color: white;
    border: 1px solid white;
    padding: 9pt;
    border-radius: 50%;
    width: 40pt;
    height: 40pt;
    margin: 5pt 15pt !important;
  }

  .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input{
    margin-left: 0px !important;
  }
}
